/*@font-face {
  /*font-family: "monospace";
  src: url('font/Inconsolata.otf');
  font-family: "sans-serif";
  src: url('font/SourceSansPro-Regular.otf')
}
*/

body {
  font-weight: 600;
  font-family: sans-serif;
  background:#231f20;
  background-size:100%;
  color:#111;
  margin:0;
  padding:0;
  line-height:80%;
}

h1, h2, h3, p {
  font-weight: 600;
  color:#fdb930;
  line-height:80%;
}

strong {
  font-style: normal;
  font-weight: 800;
  color:#fdb930;
  text-shadow:4px 4px 16px rgba(35,31,32,0.9)
}

em {
  font-weight: 800;
  font-style: normal;
  color:#8ad3f4;
}

a {
  background: rgba(138,211,244,1.0);
  color:#231f20;
  text-decoration:none;
  font-size: 80%;
  line-height:100%;
}
a.t {
  background-color:rgba(138,211,244,0.5)
}

img {
  height:100%;
}

div {
  cursor:pointer;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:100%;
  color:#E1E1E1;
}

ul {
 list-style-type: square;
 list-style-position: outside;
 list-style-image: none;
 padding-left:110px;
}

div.center {
  text-align:center;
}

div.left {
  text-align:left;
}

div.right {
  text-align:right;
}

div.imgtxt{
  color:#231f20;
  text-shadow:3px 3px 5px rgba(255,255,255,0.8);
}
div.imgtxt_white{
  color:rgb(255,255,255);
  text-shadow:4px 4px 20px rgba(35,31,32,0.9)
}

table, th, td {
    border: 1px solid;
    border-color: #8ad3f4;
    border-collapse: collapse;
    padding: 2px;
}